@charset "UTF-8";

*{
  font-family: arial;
}
.div-friendRequest{
  display: inline-block;
  width: 250px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  margin-right: 15px;
}
.profilePicture{
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.name{
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0px;
}
.inCommon{
  margin-top: 6px;
  margin-bottom: 16px;
}
.add-button{
  font-size: 1em;
  background-color: rgb(57, 117, 234);
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  margin-bottom: 10px;
}
.name,
.inCommon,
.add-button{
  margin-left: 10px;
}