@charset "UTF-8";

*{
  font-family: arial;
  border-radius: 5px;
  border-width: 1px;
 }

 .input-name{
  margin: 10px 2px;
  width: 125px;
 }
 .input-email{
  margin: 0px 2px;
  width: 272px;
  display: block;
 }

 .input-email,
 .input-name{
  font-size: 1em;
  border-style: solid;
  padding: 8px 0px 8px 12px;
 }
 .sign-button{
  font-size: 1em;
  margin: 10px 2px;
  width: 286px;
  border: none;
  color: #FFFFFF;
  background-color: rgb(15, 139, 255);
  padding: 10px 12px;
 }