@charset "UTF-8";

.sidebar{
  background-color: #FFFFFF;
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 76px;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(238, 238, 238);
}

.sidebar img{
  height: 24px;
  margin-bottom: 4px;
}

.sidebar div{
  font-size: 10px;
}

@media screen and (min-width:1200px) {
  body{
    padding-left: 140px;
  }

  .sidebar{
    width: 128px;
  }

  .sidebar-link{
    flex-direction: row;
    justify-content: start;
    padding-left: 12px;
  }

  .sidebar-link div{
    margin-left: 4px;
  }

  .sidebar div{
    font-size: 12px;
  }
}