@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

p{
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.video-title{ 
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}
.video-stats{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.video-author{
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-bottom: 20px;
}
.video-desc{
  font-size: 14px;
  color: rgb(96, 96, 96);
  width: 280px;
  line-height: 22px;
  margin-bottom: 100px;
}
.apple-text{
  font-size: 14px;
  background-color: rgb(227, 65, 64);
  color: #FFFFFF;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
}
.span-underline{
  color: red;
  margin-left: 12px;}
.span-underline:hover{text-decoration: underline;}
.shop-link{cursor: pointer;}
.shop-link:hover{text-decoration: underline;}